@media screen and (min-width: 992px) {
  
  .prcf_form_middle_1, .prcf_form_middle_2, .prcf_form_middle_3, .prcf_form_middle_4 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }

  .flex_child_right, .flex_child_left {
    width: 50%;
  }

  .flex_child_right {
    padding-left: 10px;
  }

  .flex_child_left {
    padding-right: 10px;
  }
  
}