/* Globals */

	.prcf_container {
		display: flex;
		flex-direction: column;
		padding: 25px;
		margin: 0 auto 0;
		border: 2px solid #000;
		border-radius: 25px;
		font-size: 1em;
	}

	.prcf_item {
		width: 100%;
		margin: 10px 0 10px 0;
		padding: 5px 10px 5px 10px;
		box-sizing: border-box;
		border: 2px solid #000;
		border-radius: 25px;
	}

/* Headers */

	#prcf_form_header {
		padding: 0 0 25px 0;
	}

	.prcf_header_headings {
		margin: 0 auto 15px;
	}

	.prcf_header_ps {
		margin: 10px auto 10px;
	}

/* Middles */

	.prcf_form_middle {
		padding: 0 0 0 0;
	}

	.prcf_label {
		font-weight: bold;
	}

	.prcf_label:after {
		content:":";
	}

	.prcf_required {
		color: red;
	}

	#prcf_input_topic, #prcf_input_date, #prcf_input_time, #prcf_input_submit {
		cursor: pointer;
	}

	.prcf_timing_fields {
		border: 2px solid #000;
		border-radius: 25px;
	}

	#prcf_input_date, #prcf_input_time {
		margin: 10px 0 10px 0;
	}

/* Footers */

	#prcf_form_footer {
		padding: 25px 0 0 0;
	}

	#prcf_input_submit_button {
		width: 100%;
		padding: 10px;
		border: 2px solid #000;
		border-radius: 25px;
		background-color: green;
		font-weight: bold;
		color: #fff;
	}

	#prcf_input_submit_button:focus {
		color: #fff;
	}

	#prcf_input_submit_button:hover {
		background-color: lime;
		color: #000;
	}

	#prcf_input_submit_button:active {
		background-color: green;
		color: #fff;
	}

/* Miscellaneous */

	#prcf_homepage {
		margin: 0 auto;
	}
